.venv
.idea
/config
docker-compose.yml
tests/test-api.py
__pycache__
endpoint_dumps/
steampipe
.devenv.flake.nix
.pre-commit-config.yaml
.mcp.json
devenv.*
/node_modules/
.DS_Store
/.github/
/.devenv/
/.claude-flow/
/.claude/
